
@import "variables.scss";
@import "mixins.scss";

header.article {
  background-image: url('../assets/img/envoy-article-header-bg.jpg');
  .intro-text {
    padding-top: 100px;
    padding-bottom: 50px;
    .intro-heading {
      font-size: 55px;
      padding-top: 15px;
      margin-top: 15px;
    }
  }
}

div.article {
  padding: 25px 25px;
  max-width: 960px;
  margin: auto;
}

header {
  background-image: url('../assets/img/envoy-header-bg.jpg');
  .intro-text {
    padding-top: 125px;
    .intro-description {
      @include body-font;
      padding-top: 25px;
      padding-bottom: 25px;
      margin-bottom: 25px;
      font-size: 20px;
      font-weight: 300;
    }
    .intro-heading {
      padding-top: 25px;
      margin-top: 25px;
    }
  }
}
