@import "variables.scss";
@import "mixins.scss";

header.article {
  background-image: url('../assets/img/envoy-article-header-bg.jpg');
  background-size: contain;
  background-position: top center;
  color: $theme-primary;
  .intro-text {
    padding-top: 100px;
    padding-bottom: 25px;
    .intro-lead-in {
      @include serif-font;
      font-style: italic;
      font-size: 22px;
      line-height: 22px;
      margin-bottom: 25px;
    }
    .intro-heading {
      @include heading-font;
      font-weight: 700;
      font-size: 50px;
      line-height: 50px;
      margin-bottom: 25px;
    }
  }
}

div.article {
  padding: 25px 25px;
}

header {
  background-image: url('../assets/img/envoy-header-bg.jpg');
  .intro-text {
    padding-top: 125px;
    .intro-description {
      @include body-font;
      padding-top: 25px;
      padding-bottom: 25px;
      margin-bottom: 25px;
      font-size: 20px;
      font-weight: 300;
    }
    .intro-heading {
      padding-top: 25px;
      margin-top: 25px;
    }
  }
}
